{% extends "layout.html" %}



{% block content %}
<H1> AMAZON</H1>

	<form class="form" action = "/amazonname" method ='POST'>
		<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Show Name</label>
		<input class="form-control form-control-lg" type="text" placeholder="Name" required name="name">
		<button type="submit" class="btn btn-primary my-1">Submit</button>
	</form>


	<div>
		<h1>MOVIES</h1>
		<table class="table table-dark">
			{% for item in Name1 %}
			 {% set idd=item[0] %} 
				<tr>
					<form class = "form" action="\feedback" method="POST">
					<td>{{ item[0] }}</td>
					<td>{{ item[1] }}</td>
					<td>{{ item[2] }}</td>
					<td>{{ item[3] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{ item[6] }}</td>
					<td>{{ item[7] }}</td>
					<td><button required name="1" class="btn btn-primary my-1" placeholder="Feedback"  method = 'POST' value="{{idd}}" >FEEDBACK</button></td>
					 </form>

					 </form>
					<form class="form" action="\watchlist" method="POST">
						<td><button required name="2" class="btn btn-primary my-1" placeholder="Add to Watchlist"  method = 'POST' value="{{idd}}" >ADD TO WATCHLIST</button></td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div>
		<h1>SHOWS</h1>
		<table>
			{% for item in Name2 %}
			 {% set idd=item[0] %} 
				<tr>
					<form class = "form" action="\feedback" method="POST">
					<td>{{ item[0] }}</td>
					<td>{{ item[1] }}</td>
					<td>{{ item[2] }}</td>
					<td>{{ item[3] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{ item[6] }}</td>
					<td>{{ item[7] }}</td>
					<td><button required name="1" class="btn btn-primary my-1" placeholder="Feedback"  method = 'POST' value="{{idd}}" >FEEDBACK</button></td>
				</form>

				</form>
					<form class="form" action="\watchlist" method="POST">
						<td><button required name="2" class="btn btn-primary my-1" placeholder="Add to Watchlist"  method = 'POST' value="{{idd}}" >ADD TO WATCHLIST</button></td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</div>






{% endblock content %}

