{% extends "layout.html" %}



{% block content %}
	<div class="container">
	<a href="{{ url_for('hotstar_name') }}">Search by name</a>
		
		<form class="form" action="/hotstar" method="POST">
			<div class="form-group mx-sm-3 mb-2">
				<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Actor</label>
				<select class="custom-select my-1" id="inlineFormCustomSelectPref" required name="actor" style="margin-right: 85px">
					<option selected>Choose...</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
				<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Director</label>
				<select class="custom-select my-1" id="inlineFormCustomSelectPref" required name="director"  style="margin-right:85px">
					<option selected>Choose...</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
				<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Genre</label>
				<select class="custom-select my-1" id="inlineFormCustomSelectPref" required name="genre" style="margin-right: 85px">
					<option selected>Choose...</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
				
				<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Year</label>
				<input class="form-control form-control-lg" type="text" placeholder="Year" required name="year">

				<button type="submit" class="btn btn-primary my-1" method = 'POST'>Submit</button>
			</div>
		</form>	
	</div>
	<div>
		<h1>MOVIES</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Genre</th>
				<th>Director</th>
				<th>IMDb</th>
				<th>Cast 1</th>
				<th>Cast 2</th>
				<th>Release Year</th>
			</tr>

			{% for item in data1 %}
				<tr>
					<td>{{ item[1] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[13] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{ item[7] }}</td>
					<td>{{ item[8] }}</td>
					<td>{{ item[14] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div>
		<h1>SHOWS</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Genre</th>
				<th>Director</th>
				<th>IMDb</th>
				<th>Cast 1</th>
				<th>Cast 2</th>
				<th>Release Year</th>
				<th>Seasons</th>
			</tr>
			{% for item in data2 %}
				<tr>
					<td>{{ item[1] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[13] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{ item[7] }}</td>
					<td>{{ item[8] }}</td>
					<td>{{ item[14] }}</td>
					<td>{{ item[16] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock content %}


