{% extends "layout.html" %}


{% block content %}
	<div class="jumbotron">
		<div class="container">
	  		<h1 class="display-4">Netflix and Chill!</h1>
	  		<p class="lead">We all love a good show and movie but we all hate a poor search function.</p>
	  		<hr class="my-4">
	  		<p>Here is some help ;).</p>
	  		<a class="btn btn-primary btn-lg" href="totalSearch.html" role="button">Search</a>	
	  	</div>
	</div> 

	<!-- Description -->

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<p>Oh, wow. That's an intense line of questioning, Snuffles Morty! The principal and I have discussed it, a-a-and we're both insecure enough to agree to a three-way! I mixed in some praying mantis DNA. You know a praying mantis is the exact opposite of a vole, Morty? They mate once and then bluergh cut each other's heads off. Awww, bitch!</p>
			</div>
			<div class="col-lg-6">
				<p>The trick to cereal is keeping 70% of it above the milk. Holy crap, Morty, run! Run for your life, Morty, run! I-I've never seen that thing before in my life, Morty, I don't even know what the hell it is! We-we gotta get out of here, Morty, it's gonna kill us! We're gonna die, Morty! We're gonna die! Since we're fighting, if you ever have an affair with that guy, I will come to the hotel room and blow my brains out all over your naked bodies. This is Principal Vagina. No relation.</p>
			</div>
		</div>
	</div>

	<!-- Newest on all three -->
	<hr>
	<div class="container">
		<h2>New on Netflix</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>

	</div>
	<hr>
	<div class="container">
		<h2>New on Amazon</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<h2>New on Hotstar</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://images.unsplash.com/photo-1534237187820-7177d9bbd685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b0ceffae097a240cecd4b1364171485&auto=format&fit=crop&w=1600&q=80"" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Card title</h5>
				    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    	<a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content%}