{% extends "layout.html" %}


{% block content %}
	<div class="jumbotron" id="jumbo">
		<div class="container">
	  		<h1 class="display-4">United Streaming!</h1>
	  		<p class="lead">We all love a good show and movie but we all hate a poor search function.</p>
	  		<hr class="my-4">
	  		<p>Here is some help ;).</p>
	  	</div>
	</div> 

	<!-- Description -->

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<p>Streaming services are the new age television, a source of entertainment for the 21st century.
Unlike television, a streaming service has a large database to provide anything you want, advertisement free. The content on these services is considerably large and meets the tastes of various kinds of people. They are considerably affordable and hence a large mass uses these services. Our project is an add-on to these services to help the user.
</p>
			</div>
			<div class="col-lg-6">
				<p>Our project brings you an advanced search option improved which improves the streaming experience when integrated with streaming services. It also provides recommendations based on your previous entertainment endeavours and lets the user provide their feedback to help assess the content further for other user. You may also create your personalised watchlist to return to whenever, wherever.
</p>
			</div>
		</div>
	</div>

	<!-- Newest on all three -->
	<hr>
	<div class="container">
		<h2>New on Netflix</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/12985822/p12985822_b_v8_ac.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">NARCOS</h5>
				    	<p class="card-text">Netflix chronicles the rise of the cocaine trade in Colombia and the gripping real-life stories of drug kingpins of the late '80s in this raw, gritty original series.</p>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/14287787/p14287787_b_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">BROOKLYN NINE-NINE</h5>
				    	<p class="card-text">Jake Peralta, a talented detective, along with his diverse but carefree team, struggles when a new commanding officer, Ray Holt, is appointed to their precinct.</p>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/15540766/p15540766_b_v8_ae.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">SACRED GAMES</h5>
				    	<p class="card-text">When police officer Sartaj Singh receives an anonymous tip about the location of criminal overlord Ganesh Gaitonde, he embarks on a chase around Mumbai in what becomes a dangerous cat-and-mouse game. Amidst the chaos, trappings of a corrupt underworld are revealed.</p>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/15663025/p15663025_v_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">TO ALL THE BOYS I'VE LOVED BEFORE</h5>
				    	<p class="card-text">To All the Boys I've Loved Before is a 2018 American teen romance film directed by Susan Johnson and starring Lana Condor, Noah Centineo, Janel Parrish, Anna Cathcart, Madeleine Arthur, Emilija Baranac, Israel Broussard and John Corbett.</p>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/16106601/p16106601_v_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">THE CHRISTMAS CHRONICLES</h5>
				    	<p class="card-text">Siblings Kate and Teddy Pierce hatch a scheme to capture Santa Claus on Christmas Eve. When the plan goes awry, the kids join forces with a somewhat jolly Saint Nick and his loyal elves to save the holiday before it's too late.</p>
				  	</div>	</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/15418836/p15418836_v_v8_ab.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">THE KISSING BOOTH</h5>
				    	<p class="card-text">A high school student finds herself face-to-face with her long-term crush when she signs up to run a kissing booth at the spring carnival.</p>
				  	</div>
				</div>
			</div>
		</div>

	</div>
	<hr>
	<div class="container">
		<h2>Trending on Amazon</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMjEzNzMwNjAzMl5BMl5BanBnXkFtZTgwMTI4MzY3NjM@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">MIRZAPUR</h5>
				    	<p class="card-text">The journey of two brothers lured by the idea of power only to get consumed by it.</p>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/15114022/p15114022_b_v8_ab.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">Tom Clancy's Jack Ryan</h5>
				    	<p class="card-text">John Krasinski portraying Ryan in this Amazon original thriller that centers on Ryan as an up-and-coming CIA analyst. He is thrust into a dangerous field assignment for the first time and uncovers a pattern in terrorist communication.  </p>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/16169314/p16169314_b_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">THE MARVELLOUS MRS.MAISEL</h5>
				    	<p class="card-text">It's the late 1950s and Miriam "Midge" Maisel has everything she has ever wanted -- the perfect husband, two kids and an elegant apartment on New York's Upper West Side. Her seemingly idyllic life takes a surprising turn when she discovers a hidden talent she didn't previously know she had -- stand-up comedy.</p>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/3600392/p3600392_v_v8_ac.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">UP IN THE AIR</h5>
				    	<p class="card-text">Ryan, a corporate downsizing expert, takes his new colleague on his office tour. On the way, he meets another flier and the two begin a casual relationship.</p>
				  	</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/170921/p170921_v_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">REVOLUTIONARY ROAD</h5>
				    	<p class="card-text">Frank and April are an ideal couple who live with their two children in the suburbs of Connecticut. However, issues evolve in their marriage, and April decides to move to Paris.</p>
				  	</div>
				</div>
			</div>
			

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/14169043/p14169043_v_v8_ao.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">CALL ME BY YOUR NAME</h5>
				    	<p class="card-text">It's the summer of 1983, and precocious 17-year-old Elio Perlman is spending the days with his family at their 17th-century villa in Lombardy, Italy. He soon meets Oliver, a handsome doctoral student who's working as an intern for Elio's father. Amid the sun-drenched splendor of their surroundings, Elio and Oliver discover the heady beauty of awakening desire over the course of a summer that will alter their lives forever.</p>
				  	</div>
				</div>	
			</div>

		</div>
	</div>
	<hr>
	<div class="container">
		<h2>Trending on Hotstar</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/183931/p183931_b_v8_ac.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">F.R.I.E.N.D.S</h5>
				    	<p class="card-text">Follow the lives of six reckless adults living in Manhattan, as they indulge in adventures which make their lives both troublesome and happening.</p>
				  	</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/tvbanners/14160794/p14160794_b_v8_aa.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">GAME OF THRONES</h5>
				    	<p class="card-text">Several royal families desire the Iron Throne to gain control of Westeros. Whilst kingdoms fight each other for power, a sinister force lurks beyond the Wall in the north.</p>
				  	</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="http://www.gstatic.com/tv/thumb/v22vodart/8228083/p8228083_v_v8_ac.jpg" alt="Card image cap">
				  	<div class="card-body">
				    	<h5 class="card-title">AISHA</h5>
				    	<p class="card-text">Aisha, who loves playing matchmaker much to her friend Arjun's disapproval, finds a new target in the simple Shefali. But in the process, she ends up ruining her relationship with close friends.</p>
				  	</div>
				</div>
			</div>
		</div>
		<p></p>
		
	</div>
{% endblock content%}