{% extends "layout.html" %}



{% block content %}
	<div class="container">
		<h1>NETFLIX</h1>
		<a href="{{ url_for('netflix_name') }}">Search by name</a>
		<form class="form" action="/netflix" method="POST">
			<div class="form-group mx-sm-3 mb-2">
			  	<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Actor</label>
		      	<input class="form-control form-control-lg" type="text" placeholder="Actor" value = 'null' required name="actor">

             	<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Director</label>
		      	<input class="form-control form-control-lg" type="text" placeholder="Director" value = 'null' required name="director">

		      	<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Genre</label>
		      	<input class="form-control form-control-lg" type="text" placeholder="Genre" value = 'null' required name="genre">
		      	
		      	<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Year</label>
		      	<input class="form-control form-control-lg" type="text" placeholder="Year" value = 'null' required name="year">
			  	
			  	<button type="submit" class="btn btn-primary my-1" method = 'POST'>Submit</button>
		  	</div>
		</form>	
	</div> 
	<div>
		<h1>MOVIES</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>GENRE</th>
					<th>DIRECTOR</th>
					<th>IMDb</th>
					<th>USER_RATING</th>
					<th>CAST 1</th>
					<th>CAST 2</th>
					<th>YEAR</th>
				</tr>
			</thead>
			{% for item in data1 %}
			<!-- {% set movie_name=item[1] %} -->
			 {% set idd=item[0] %} 
				<tr>
					<form class = "form" action="\feedback" method="POST">
						<td>{{ idd }}</td> 
						<td>{{ item[1] }}</td>
						<td>{{ item[4] }}</td>
						<td>{{ item[13] }}</td>
						<td>{{ item[5] }}</td>
						<td>{{  item[6] }}</td>
						<td>{{ item[7] }}</td>
						<td>{{ item[8] }}</td>
						<td>{{ item[14] }}</td>
						<td><button required name="1" class="btn btn-primary my-1" placeholder="Feedback"  method = 'POST' value="{{idd}}" >FEEDBACK</button></td>
						<!-- <td></button><input type="submit" required name="1" placeholder="Feedback" value="{{movie_name}}" method="POST"></button></td> -->
					</form>
					<form class="form" action="\watchlist" method="POST">
						<td><button required name="2" class="btn btn-primary my-1" placeholder="Add to Watchlist"  method = 'POST' value="{{idd}}" >ADD TO WATCHLIST</button></td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</div>

	
	<div>
		<h1>SHOWS</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>GENRE</th>
					<th>DIRECTOR</th>
					<th>IMDb</th>
					<th>USER_RATING</th>
					<th>CAST 1</th>
					<th>CAST 2</th>
					<th>STARTED AIRING</th>
					<th>SEASONS</th>
				</tr>
			</thead>
		
			{% for item in data2 %}
			 {% set idd=item[0] %} 
				<tr>
					<form class = "form" action="\feedback" method="POST">
					<td>{{ idd }}</td> 
					<td>{{ item[1] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[13] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{  item[6] }}</td>
					<td>{{ item[7] }}</td>
					<td>{{ item[8] }}</td>
					<td>{{ item[14] }}</td>
					<td>{{ item[16] }}</td>
					<td><button required name="1" class="btn btn-primary my-1" placeholder="Feedback"  method = 'POST' value="{{idd}}" >FEEDBACK</button></td>
					<!-- <td><button type="submit" class="btn btn-primary my-1" method = 'POST'>Feedback</button></td> -->
					</form>
					<form class="form" action="\watchlist" method="POST">
						<td><button required name="2" class="btn btn-primary my-1" placeholder="Add to Watchlist"  method = 'POST' value="{{idd}}" >ADD TO WATCHLIST</button></td>
					</form>

				</form>
				</tr>
			{% endfor %}

			<!-- <tr>{{ data3 }}</tr> -->
		</table>
	</div>

{% endblock content %}


